# Ensure all text files use LF line endings
* text=auto eol=lf

# Specific settings for certain file types
*.qmd text eol=lf
*.txt text eol=lf

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.R text eol=lf
*.Rd text eol=lf
*.md text eol=lf
*.Rbuildignore text eol=lf
.gitignore text eol=lf
